*{{{name}}}.txt*    {{{ desc }}}
{{#header}}
{{#parts}}
{{{body}}}

{{/parts}}
{{/header}}
=============================================================================
CONTENTS                            *{{{name}}}-contents*

{{#sections}}
{{#header}}
{{{index_title}}}
{{/header}}
{{/sections}}

{{#sections}}
{{#h1}}
=============================================================================
{{/h1}}
{{#h2}}
=============================================================================
{{/h2}}
{{#h3}}
-----------------------------------------------------------------------------
{{/h3}}
{{{ section_title }}}

{{#parts}}
{{{ body }}}

{{/parts}}

{{/sections}}

vim:tw=78:ts=8:ft=help:norl:
